//VARIABLES
//COLORS
$color-dark: #212121;
$color-primary: #4ab885;
$color-secondary: #ea80fc;
$color-white: #ffffff;
//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 2rem;

//FONTS

$roboto-regular: robotoregular;
$roboto-medium: robotomedium;
$roboto-black: robotoblack;
$satisfy: satisfyregular;
$source-code: sourcecodepro;