// FOOTER

.footer {
  margin-top: 10rem;
  background-image: linear-gradient(rgba($color-white, 0.05));
  clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
  color: $color-primary;
  position: relative;
  @include respond(phone) {
    clip-path: none;
  }
  &__header {
    padding-top: 10rem;
    font-family: $satisfy;
    font-size: 3.4rem;
    text-align: center;
  }
  &__desc {
    margin: 7rem 0 5rem 0;
    font-size: 2.4rem;
    text-align: center;
    line-height: 1.5;
    text-transform: capitalize;
    font-family: $source-code;
  }
  &__download {
    display: block;
    margin: 0 auto;
    text-align: center;
    & > img {
      width: 5%;
      transition: all 0.3s ease-out;
      @include respond(phone) {
        width: 13%;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__social {
    text-align: center;
    margin: 4rem 0;

    &--icon {
      display: inline-block;
      @include respond(big-desk) {
        margin: 0 1rem;
      }
      @include respond(phone) {
        margin: 0 !important;
        width: 15%;
      }
      & > img {
        width: 60%;
        transition: all 0.3s ease-out;
        &:hover {
          transform: scale(1.1);
        }
        @include respond(big-desk) {
          width: 100%;
        }
        @include respond(phone) {
          width: 77%;
        }
      }
    }
  }
  &__sketch {
    display: inline-block;
    color: $color-white;
    font-family: $source-code;
    font-size: 1.8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    &:hover {
      font-size: 2rem;
      @include respond(phone) {
        font-size: 2.2rem;
      }
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }
  &__copyright {
    font-family: $satisfy;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    margin-top: 10rem;
    @include respond(phone) {
      font-size: 2.4rem;
    }
  }
}
