// TYPOGRAPHY

@font-face {
  font-family: "robotoblack";
  src: url("../../fonts/Roboto-Black.ttf") format("ttf"),
    url("../../fonts/Roboto-Black.woff") format("woff");
}

@font-face {
  font-family: "robotomedium";
  src: url("../../fonts/Roboto-Medium.ttf") format("ttf"),
    url("../../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "robotoregular";
  src: url("../../fonts/Roboto-Regular.ttf") format("ttf"),
    url("../../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "satisfyregular";
  src: url("../../fonts/Satisfy-Regular.ttf") format("ttf"),
    url("../../fonts/Satisfy-Regular.woff") format("woff");
}

@font-face {
  font-family: "sourcecodepro";
  src: url("../../fonts/SourceCodePro-Regular.otf") format("otf"),
    url("../../fonts/sourcecodepro-regular.woff") format("woff");
}