// utilities as a small toolbox sass file for quick fixes

.u-white {
  color: $color-white !important;
}
.u-satisfy{
  font-family: $satisfy !important;
  font-size: 2.7rem !important;
}
.u-roboto{
  font-family: $roboto-regular !important;
  top: 55% !important;
}
.u-95{
  &::after {
    width: 95%;
  }
}
.u-90{
  &::after {
    width: 90%;
  }
}
.u-85{
  &::after {
    width: 85%;
  }
}
.u-80{
  &::after {
    width: 80%;
  }
}
.u-75{
  &::after {
    width: 65%;
  }
}
.u-60{
  &::after {
    width: 60%;
  }
}

.u-50{
  &::after {
    width: 50%;
  }
}
.u-45{
  &::after {
    width: 45%;
  }
}
.u-35{
  &::after {
    width: 35%;
  }
}
.u-scroll-magic{
  position: absolute;
  width: 100%;
  top: 11%;
  background-color: $color-dark;
}
