.skills {
  overflow: hidden;
  margin-top: 93vh;
  position: relative;
  height: auto;
  &__header {
    color: $color-secondary;
    font-family: $satisfy;
    font-size: 4.4rem;
    min-height: 8rem;
    margin: 2rem 0 6rem 3rem;
    position: relative;
    &--underline {
      position: absolute;
      top: 4rem;
      right: 91.5%;
      width: 11.5rem;
      @include respond(tab-land) {
        opacity: 0;
      }
    }
  }
  &__skill-1 {
    width: 100%;
    margin-top: 2rem;
    &--image {
      display: block;
      margin: 0 auto;
      width: 90%;
    }
  }
  &__skill-2 {
    margin-top: 2rem;
    @include respond(phone) {
      margin-top: 6rem;
    }
    &--image {
      display: block;
      margin: 1.5rem auto;
      padding-top: 1rem;
      width: 14%;
      @include respond(phone) {
        width: 25%;
      }
    }
  }
  &__skill-3 {
    margin-top: 2rem;
    padding-top: 4rem;
    @include respond(big-desk) {
      padding-top: 2rem;
    }
    &--image {
      display: block;
      margin: 0 auto;
      width: 75%;
      padding-bottom: 6rem;
    }
    &--tools {
      list-style: none;
      font-size: 2.7rem;
      font-family: $source-code;
      color: $color-primary;
      display: none;
      visibility: hidden;
    }
  }
  &__skill-4 {
    margin-top: 2rem;
    padding-top: 4rem;
    &--items {
      position: relative;
      width: 50%;
      height: 30rem;
      margin: 0 auto;
      list-style: none;
      @include respond(phone) {
        width: 55%;
      }
      & > li {
        position: absolute;
      }
      &-1 {
        top: 3%;
        left: -8%;
        @include respond(phone) {
          top: 0;
          left: -14%;
        }
      }
      &-2 {
        top: 35%;
        left: -35%;
      }
      &-3 {
        top: 75%;
        left: -10%;
        &--water {
          height: 10rem !important;
          @include respond(phone) {
            height: 8rem !important;
          }
        }
      }
      &-4 {
        top: 40%;
        left: 10%;
        &--water {
          height: 9rem !important;
        }
        @include respond(phone) {
          height: 7rem !important;
        }
      }
      &-5 {
        top: 10%;
        left: 40%;
        &--water {
          height: 10rem !important;
        }
      }
      &-6 {
        top: 5%;
        left: 85%;
      }
      &-7 {
        top: 45%;
        left: 65%;
      }
      &-8 {
        top: 70%;
        left: 35%;
      }
      &-9 {
        top: 75%;
        left: 90%;
      }
    }
  }
  &__skill-5 {
    margin-top: 2.7rem;
    padding: 3rem 0 0 0;
    text-align: center;
    @include respond(phone){
      padding: 1rem 0 0 0;
    }
    &--items {
      line-height: 1.5;
      list-style: none;
      font-size: 1.8rem;
      @include respond(big-desk) {
        line-height: 1.3;
      }
      @include respond(phone){
        font-size: 1.5rem;
        // line-height: 1.3;
      }
      & > li {
        text-align: center;
        position: relative;
      }
    }
  }
}
